:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}
html {
  height: 100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Spartan", sans-serif;
  position: relative;
  height: 100%;
}
a {
  text-decoration: none;
  color: var(--black);
}
ul {
  list-style: none;
}
.grid-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 2fr 1fr;
}

.grid-item {
  overflow: hidden;
}

/*first item*/
.item1 {
  grid-column: 1/7;
  background: url("images/desktop-image-hero-1.jpg") no-repeat center
    center/cover;
  padding: 40px;
  transition: background ease-in 0.4s;
}
.item1 img {
  width: 65px;
  height: 15px;
  position: relative;
  top: -1px;
}
.item1 img:hover {
  cursor: url("images/pointer.png") 15 15, auto;
}
.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.navbar-list {
  display: flex;

  justify-content: space-around;
  width: 40%;
}
.navbar-list li {
  color: var(--white);
  font-weight: 500;
  position: relative;
}
.navbar-list li:hover {
  cursor: url("images/pointer.png") 15 15, auto;
}
.navbar-list li::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 1px;
  left: 50%;
  top: 15px;
  background-color: var(--white);
  transition: all ease-in-out 0.2s;
}
.navbar-list li:hover::after {
  width: 70%;
  left: 15%;
  top: 15px;
}

/*item2
*/
.item2 {
  grid-column: 7/11;
  padding: 80px 100px;
  position: relative;
}
.item2 h2 {
  text-align: left;
  font-size: 37px;
  font-weight: 700;
}
.item2 p {
  text-align: left;
  line-height: 1.1rem;
  margin-bottom: 20px;
}
.displaynone {
  display: none;
}
.item2 a {
  letter-spacing: 0.4rem;
  margin-right: 40px;
  font-weight: 600;
}
.item2 a {
  cursor: url("images/pointer.png") 15 15, auto;
}
.leftright {
  background-color: var(--black);
  width: 25%;
  height: 13%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.leftright img {
  width: 15%;
}

.hovergrey {
  background: var(--black);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: background ease-in 0.2s;
}
.hovergrey:hover {
  background: var(--dark-gray);
  cursor: url("images/pointer.png") 15 15, auto;
}
/*item3*/
.item3 {
  grid-column: 1/4;
  background: url("images/image-about-dark.jpg") no-repeat center center/cover;
}

/*item4*/

.item4 {
  grid-column: 4/8;
  padding: 50px 40px;
}
.item4 h4 {
  font-size: 14px;
  letter-spacing: 0.2rem;
}
.item4 p {
  line-height: 1.1rem;
}
.menu {
  display: none;
}
.item5 {
  grid-column: 8/11;
  background: url("images/image-about-light.jpg") no-repeat center center/cover;
}
.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
}
.menudrop {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--white);
  width: 100%;
  display: none;
}
.menudrop ul {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
  padding: 30px 20px;
  align-items: center;
}
.menudrop ul li {
  font-weight: 600;
  position: relative;
}
.menudrop ul li:hover {
  cursor: url("images/pointer.png") 15 15, auto;
}
.menudrop img {
  width: 17px;
  height: 17px;
  margin-right: 30px;
}

.menudrop img:hover {
  cursor: url("images/pointer.png") 15 15, auto;
}
.menudrop ul li::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 1px;
  left: 50%;
  top: 15px;
  background-color: var(--black);
  transition: all ease-in-out 0.2s;
}
.menudrop ul li:first-child::after {
  content: none;
}
.menudrop ul li:hover::after {
  width: 70%;
  left: 15%;
}

@media (max-width: 1200px) {
  .navbar-list {
    width: 60%;
  }
  .item2 {
    padding-top: 20px;
  }
  .leftright {
    width: 35%;
  }
}
@media (max-width: 1050px) {
  .item2 a {
    margin-right: 5px;
  }
}
@media (max-width: 1400px) {
  .item2 {
    padding: 20px 40px;
  }
  .item4 {
    padding-top: 20px;
  }
  .grid-item p {
    font-size: 12px;
  }
  .hovergrey img {
    transform: scale(1.2);
  }
}
@media (max-width: 950px) {
  .item2 h2 {
    font-size: 27px;
  }
  .item4 {
    padding-top: 0px;
  }
  .item4 p {
    line-height: 1rem;
    font-size: 10px;
  }
}
@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 4fr 2fr 3fr 2fr;
    height: 200%;
  }
  .item1 {
    grid-column: 1;
    background-size: 110% 100%;
    position: relative;
  }
  .item2 {
    grid-column: 1;
    padding-top: 60px;
  }
  .item2 h2 {
    font-size: 30px;
  }
  .item2 p,
  .item4 p {
    font-size: 14px;
    line-height: 1.5rem;
  }
  .item2 a,
  .item2 img {
    margin-top: 30px;
  }
  .item3 {
    grid-column: 1;
  }
  .item4 {
    grid-column: 1;
    padding-top: 40px;
  }
  .item5 {
    grid-column: 1;
  }
  .navbar-list {
    display: none;
  }
  .navbar {
    justify-content: center;
    position: relative;
  }
  .navbar .menu {
    position: absolute;
    left: 0;
    width: 30px;
    height: 20px;
    top: -5px;
  }
  .navbar .menu:hover {
    cursor: url("images/pointer.png") 15 15, auto;
  }
  .leftright {
    right: 0;
    left: auto;
    height: 60px;
    width: 120px;
  }
}
